---
layout: default
title: Home
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <h1>{{ "Hello World!" | downcase }}</h1>
  </body>
</html>
